.FormAdd{
  border-bottom: 5px solid #ccc;
  padding-bottom: 10px;
}
.Val{
  margin: 0 10em;
  border: 3px solid #00bcd4a8;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 18px;
  background: lightblue;
  vertical-align: top;
}
.Button{
  font-size: 24px;
  color: #fff;
  border: 3px solid #1d9fc5;
  border-radius: 9px;
  background: #23c7c7;
  padding: 3px 35px;
  vertical-align: top;
}
.Button:active{
  border: 3px solid #1d9fc5;
}