.Border{
  border: 2px solid #ccc;
  width: 40%;
  margin-left: 14.4%;
  margin-top: 25px;
}
.Bg{
  background: #e8e2e2;
}
.Text{
  margin: 0;
  display: inline-block;
  padding: 28px;
  color: #141414;
  font-size: 25px;
}
.Btn{
  float: right;
  margin: 12px;
  color: #fff;
  background: #2d2d2d;
  padding: 6px 11px;
  border: 2px solid #000;
}